spring:
  application:
    name: islandlink
  datasource:
    url: jdbc:mysql://localhost:3306/islandlink_db?characterEncoding=UTF-8&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password: root1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: your-email@gmail.com
    password: your-app-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 5000
  servlet:
    session:
      timeout: 30m

jwt:
  secret: myVerySecureSecretKeyForJWTTokenGeneration2026IslandLinkApplication
  expiration: 1800000
